.AddWorkoutRow {
  margin-bottom: $space;
  display: flex;
}

.AddWorkoutRow-values {
  display: flex;
  align-items: center;
  margin-right: $space;
  width: 50%;
}

.AddWorkoutRow input {
  background: transparent;
  position: relative;
  color: $color-text;
  border-bottom: 1px solid $color-flat-third;
  
  &:focus {
    border-bottom: 1px solid $color-highlight;
  }
}

.AddWorkoutRow-date {
  margin-bottom: $easy;
  background: transparent;
  color: $color-text;
  border: 1px solid $color-text;
}