.AddWorkoutRow {
  margin-bottom: $space;
  padding-bottom: $space;
  border-bottom: 1px solid $color-text;

  &:last-child{
    border-bottom: none;
  }

  @include breakpoint($b-mob) {
    border: none;
    padding: 0;
    display: flex;
  }
}

.AddWorkoutRow-values {
  @include breakpoint($b-mob) {
    display: flex;
    align-items: center;
    margin-right: $space;
    width: 50%;
  }
}

.AddWorkoutRow input {
  width: 135px;
  background: transparent;
  position: relative;
  color: $color-text;
  border-bottom: 1px solid $color-flat-third;
  
  &:focus {
    border-bottom: 1px solid $color-highlight;
    color: $color-highlight;
  }

  @include breakpoint($b-mob) {
    width: auto;
  }
}

.AddWorkoutRow-date {
  margin-bottom: $easy;
  background: transparent;
  color: $color-text;
  border: 1px solid $color-text;
}