.App {
  max-width: $b-full;
  margin: 0 auto;
  padding-left: $space;
  padding-right: $space;
  padding-bottom: $space * 2;

  @include breakpoint($b-full) {
    padding-left: 0;
    padding-right: 0;
  }
}