.Icon{
  display: inline-block;
  background-size: 100% auto;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
}

.Icon--add {
  cursor: pointer;
  height: 30px;
  width: 30px;
  @include iconify(add);

  &:hover {
    @include iconify(add-highlight);
  }
}

.Icon--remove {
  cursor: pointer;
  height: 30px;
  width: 30px;
  @include iconify(remove);

  &:hover{
    @include iconify(remove-highlight);
  }
}