@include keyframes(rotate-one) {
  0% {
    @include transform(rotateX(35deg) rotateY(-45deg) rotateZ(0deg));
  }
  100% {
    @include transform(rotateX(35deg) rotateY(-45deg) rotateZ(360deg));
  }
}

@include keyframes(rotate-two) {
  0% {
    @include transform(rotateX(50deg) rotateY(10deg) rotateZ(0deg));
  }
  100% {
    @include transform(rotateX(50deg) rotateY(10deg) rotateZ(360deg));
  }
}

@include keyframes(rotate-three) {
  0% {
    @include transform(rotateX(35deg) rotateY(55deg) rotateZ(0deg));
  }
  100% {
    @include transform(rotateX(35deg) rotateY(55deg) rotateZ(360deg));
  }
}

.Loader {
  position: absolute;
  width: 100%;
  z-index: 800;
  height: 100%;
  top: 0;
  left: 0;
  background: $color-base;
}

.Loader-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
  @include transform(translate(-50%, -50%));
}

.Loader-inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.Loader-inner--one {
  left: 0%;
  top: 0%;
  border-bottom: 3px solid #EFEFFA;
  @include animation(rotate-one 1s linear infinite);
}

.Loader-inner--two {
  right: 0%;
  top: 0%;
  border-right: 3px solid #EFEFFA;
  @include animation(rotate-two 1s linear infinite);
}

.Loader-inner--three {
  right: 0%;
  bottom: 0%;
  border-top: 3px solid #EFEFFA;
  @include animation(rotate-three 1s linear infinite);
}