.Login {
  position: absolute;
  z-index: 10;
  right: $space;
  top: $space;

  @include breakpoint($b-full) {
    right: 0;
  }
}

.Login .Button {
  margin-right: 0;
}

.Login-container {
  width: 200px;
  padding: $space;
  background: $color-base;
  border: 1px solid #FFF;
  position: absolute;
  right: 0;
}