.Timeline {
  margin-bottom: $space;
  width: 100%;
  overflow: hidden;
  background: $color-flat-third;

  // white-space: nowrap;
  // width: 100%;
  // overflow: scroll;
    white-space: nowrap;
}

.Timeline-wrapper {
  // background: $color-flat-third;
}

.Timeline-item {
  width: $w-timelime-item;
  display: inline-block;
  white-space: normal;
  text-align: center;
}

.Timeline-item-info {
  display: inline-block;
  text-align: center;
  padding: 15px;
}

.Timeline-item-date {

}

.Timeline-workout {

}

.Timeline-dates {
  background: $color-flat-two;
  padding: $easy;
}

.Timeline-item-date {
  background: $color-flat-two;
  padding: $easy 0;
  text-transform: uppercase;
  text-align: center;
  @include font-size(18, 14);
  

  .day {
    display: block;
    @include headline();
  }

  .month {
     @include font-size(13, 13);
  }
}