%iconify-add-highlight {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGNJREFUaIHt1yEOgDAQRcHCfbBYzo6t5UBgCapm+SHMuJptXmq2rQEAOVPV4L0f5/28rUvJXXPF0DcJSBOQJiBNQJqAtOH95LnbVBvdnT7/AgLS/AfSBKQJSBOQJiBNAADwZxd7Mww23uGVjgAAAABJRU5ErkJggg==');
}

%iconify-add {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGNJREFUaIHt1zEKgDAQRcHoOQU7D2UX8J7ailWa9SPOdGk2PNJsWgMAcqaqwcu6nffz0feSu+aKoW8SkCYgTUCagDQBacP7yXO3qTa6O33+BQSk+Q+kCUgTkCYgTUCaAADgzy7I1Aw25e2rjAAAAABJRU5ErkJggg==');
}

%iconify-delete {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAS5JREFUSIntk0FKw0AUhv83Mw3o1nqFIkgbobhShBi8gr1GexB7DnsGSQruRLIwdSE5QzyAaWaei+ImvCQj6Kb0X04y3zd58wc4ZO9D0mJydR7qGg9bZ2d3rx+fXYDn64tTW28fNdPi5uU9bz5X0iZlsYRCPNCUPF2enXTBa1slRLh14KXIkhZra+8ZLgep0BhK19PRsA2uQGOwe9s6O5NY4ogAYD0dDRHohKAmDJejsnGUFaUItxy3jbJV0CbRR8fkC+8V/Eg4MKkCjR14AwC+cC8B0BgJAF/47jD/nN4vaF7obpcK/2REUlsAwBhKpXb9StBVxa4Kewl8eu4rkf/k+mvVV8UoK0pUNnbgDUFNMBisJJYoMKzncEj6LjHKitLoIGZGSlDztvcO2fN8A74R9BMT3hqGAAAAAElFTkSuQmCC');
}

%iconify-menu {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAADJJREFUSIljYBgFo4BSwIjMOXjq8n9qGGpvpgs3l4kaBo4CisBoJI8AMBrJo2AUMDAAABsFDArZWK5dAAAAAElFTkSuQmCC');
}

%iconify-plus {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAABpJREFUSIntwTEBAAAAwqD1T+1vBqAAAADgDQ4uAAFHJyhsAAAAAElFTkSuQmCC');
}

%iconify-remove-highlight {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAD9JREFUaIHtz6EVwCAQREGSfrCx1B6LpSDwqDP3EMzoFX9LAQAAADjhiQ7/PmZmyK59NdT2ZodkcwAAAADgTgsfnAQIwWqMkAAAAABJRU5ErkJggg==');
}

%iconify-remove {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEBJREFUaIHtzyEOwCAQRFHac5LUcag6Eu4JHrVmg+A9PeJPKQAAAAAnPNFh/drMDNmN/ofa3uyQbA4AAAAA3GkBlN0ECFjMhrkAAAAASUVORK5CYII=');
}

