%iconify-add-highlight {
    background-image: url('../../../src/assets/images/png/add-highlight.png');
}

%iconify-add {
    background-image: url('../../../src/assets/images/png/add.png');
}

%iconify-delete {
    background-image: url('../../../src/assets/images/png/delete.png');
}

%iconify-menu {
    background-image: url('../../../src/assets/images/png/menu.png');
}

%iconify-plus {
    background-image: url('../../../src/assets/images/png/plus.png');
}

%iconify-remove-highlight {
    background-image: url('../../../src/assets/images/png/remove-highlight.png');
}

%iconify-remove {
    background-image: url('../../../src/assets/images/png/remove.png');
}

