%iconify-add-highlight {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-281%20373%2048%2048%22%3E%3Cpath%20fill%3D%22%23C1CAD3%22%20d%3D%22M-243%20399h-12v12h-4v-12h-12v-4h12v-12h4v12h12v4z%22%2F%3E%3C%2Fsvg%3E');
}

%iconify-add {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-281%20373%2048%2048%22%3E%3Cpath%20fill%3D%22%235C5F66%22%20d%3D%22M-243%20399h-12v12h-4v-12h-12v-4h12v-12h4v12h12v4z%22%2F%3E%3C%2Fsvg%3E');
}

%iconify-delete {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-293%20385%2024%2024%22%3E%3Cpath%20fill%3D%22%23C0392B%22%20d%3D%22M-274%20391.4l-1.4-1.4-5.6%205.6-5.6-5.6-1.4%201.4%205.6%205.6-5.6%205.6%201.4%201.4%205.6-5.6%205.6%205.6%201.4-1.4-5.6-5.6%205.6-5.6z%22%2F%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M-293%20385h24v24h-24v-24z%22%2F%3E%3C%2Fsvg%3E');
}

%iconify-menu {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-293%20385%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M-293%20385h24v24h-24v-24z%22%2F%3E%3Cpath%20fill%3D%22%23C1CAD3%22%20d%3D%22M-290%20403h18v-2h-18v2zm0-5h18v-2h-18v2zm0-7v2h18v-2h-18z%22%2F%3E%3C%2Fsvg%3E');
}

%iconify-plus {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%3E%3Cpath%20d%3D%22M516.667%20200H333.333V16.667C333.333%207.462%20325.87%200%20316.667%200h-100C207.462%200%20200%207.462%20200%2016.667V200H16.667C7.462%20200%200%20207.462%200%20216.667v100c0%209.204%207.462%2016.666%2016.667%2016.666H200v183.334c0%209.204%207.462%2016.666%2016.667%2016.666h100c9.204%200%2016.667-7.462%2016.667-16.666V333.333h183.333c9.204%200%2016.667-7.462%2016.667-16.666v-100C30%20207.462%20525.87%20200%20516.667%20200z%22%2F%3E%3C%2Fsvg%3E');
}

%iconify-remove-highlight {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-281%20373%2048%2048%22%3E%3Cpath%20fill%3D%22%23C1CAD3%22%20d%3D%22M-243%20399h-28v-4h28v4z%22%2F%3E%3C%2Fsvg%3E');
}

%iconify-remove {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-281%20373%2048%2048%22%3E%3Cpath%20fill%3D%22%235C5F66%22%20d%3D%22M-243%20399h-28v-4h28v4z%22%2F%3E%3C%2Fsvg%3E');
}

