%iconify-add {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAFVJREFUaIHt17ERgCAQAEG0/541N5IAbhx3C3i4IXnGAAA6x8LZ146zzhVDdxJQE1ATUBNQE1Cb2U+eu81qr+72+RcQUPMfqAmoCagJqAmoCQAA/uwG4xMDNvP63p8AAAAASUVORK5CYII=');
}

%iconify-plus {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAABpJREFUSIntwTEBAAAAwqD1T+1vBqAAAADgDQ4uAAFHJyhsAAAAAElFTkSuQmCC');
}

%iconify-remove {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAADVJREFUaIHtz6ERACAQA8GH/nuGBhC8yCDY1RGXKgAAAIAXRmO7YhVnV20zXZHmAAAAAMCfNhMWAQgmsABjAAAAAElFTkSuQmCC');
}

