%iconify-add {
    background-image: url('../../../src/assets/images/png/add.png');
}

%iconify-plus {
    background-image: url('../../../src/assets/images/png/plus.png');
}

%iconify-remove {
    background-image: url('../../../src/assets/images/png/remove.png');
}

