::selection {
  background: $color-base;
  color: #FFF;
}

::-moz-selection {
  background: $color-base;
  color: #FFF;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $color-base;
  color: $color-text;
  font-size: 14px;
  line-height: 1.55;
}

input {
  border: none;
  padding: 10px 5px;
  outline: none;
  width: 100%;
  border-radius: 0;
}

button,
input,
textarea {
  color: $color-black;
}

p {
  margin-bottom: $space;
  margin-top: 0;
}