@mixin font-size($size: 14, $line: $size + 4) {
  font-size: $size + px;
  line-height: $line + px;
  font-size: ($size / 10) + rem;
  line-height: ($line / 10) + rem;
}

@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-align($align) {
  -webkit-box-align: $align;
  -webkit-flex-align: $align;
  -ms-flex-align: $align;
  -webkit-align-items: $align;
  align-items: $align;
}