$color-flat-one: rgba(39, 39, 43, 1);
$color-flat-two: rgba(43, 44, 49, 1);
$color-flat-third: rgba(47, 47, 55, 1);

$color-base: $color-flat-one;
$color-primary: #2980b9;
$color-secondary: #82929d;
$color-text: rgba(92, 95, 102, 1);
$color-black: #222;
$color-red: #e74c3c;
$color-green: #2ecc71;
$color-active: rgba(54, 184, 184, 1);
$color-label: #fafafa;
$color-highlight: rgba(193, 202, 211, 1);

$input-background-focus: $color-secondary;
$input-background: rgba($color-secondary, .6);
$input-radius: 5px;
$input-padding: 15px;

$space: 20px;
$easy: 10px;
$sectionAir: 40px;

$b-full: 500px;
$b-tablet: 820px;
$b-mob: 500px;

// Heights and widths
$w-eventlist: 300px;

